# Ignore Python cache files and folders
__pycache__/
*.py[cod]

# Dataset and runtime folders
env/
venv/
dataset/
data/

# Output files
output/
*.csv

# Models
*.pt
*.safetensors
/examples/analysis_outputs/bbox_all_samples/20260820_194424_slide_0_grid.png
/examples/analysis_outputs/bbox_all_samples/20260820_194424_slide_0_superpixel.png
/examples/analysis_outputs/bbox_all_samples/20260820_194424_slide_1_grid.png
/examples/analysis_outputs/bbox_all_samples/20260820_194424_slide_1_superpixel.png
/examples/analysis_outputs/bbox_all_samples/20260820_194424_slide_2_grid.png
/examples/analysis_outputs/bbox_all_samples/20260820_194424_slide_2_superpixel.png
/examples/analysis_outputs/bbox_all_samples/20260820_194424_slide_3_grid.png
/examples/analysis_outputs/bbox_all_samples/20260820_194424_slide_3_superpixel.png
/examples/analysis_outputs/bbox_all_samples/20260820_194424_slide_4_grid.png
/examples/analysis_outputs/bbox_all_samples/20260820_194424_slide_4_superpixel.png
/examples/analysis_outputs/bbox_all_samples/20260820_194424_slide_5_grid.png
/examples/analysis_outputs/bbox_all_samples/20260820_194424_slide_5_superpixel.png
/examples/analysis_outputs/bbox_all_samples/20260820_194424_slide_6_grid.png
/examples/analysis_outputs/bbox_all_samples/20260820_194424_slide_6_superpixel.png
/examples/analysis_outputs/bbox_all_samples/20260820_194424_slide_7_grid.png
/examples/analysis_outputs/bbox_all_samples/20260820_194424_slide_7_superpixel.png
/examples/analysis_outputs/bbox_all_samples/20260820_194424_slide_8_grid.png
/examples/analysis_outputs/bbox_all_samples/20260820_194424_slide_8_superpixel.png
/examples/analysis_outputs/bbox_all_samples/20260820_194424_slide_9_grid.png
/examples/analysis_outputs/bbox_all_samples/20260820_194424_slide_9_superpixel.png
/examples/analysis_outputs/bbox_all_samples/20260823_120449_slide_0_grid.png
/examples/analysis_outputs/bbox_all_samples/20260823_120449_slide_0_superpixel.png
/examples/analysis_outputs/bbox_all_samples/20260823_120449_slide_1_grid.png
/examples/analysis_outputs/bbox_all_samples/20260823_120449_slide_1_superpixel.png
/examples/analysis_outputs/bbox_all_samples/20260823_120449_slide_2_grid.png
/examples/analysis_outputs/bbox_all_samples/20260823_120449_slide_2_superpixel.png
/examples/analysis_outputs/bbox_all_samples/20260823_120449_slide_3_grid.png
/examples/analysis_outputs/bbox_all_samples/20260823_120449_slide_3_superpixel.png
/examples/analysis_outputs/bbox_all_samples/20260823_120449_slide_4_grid.png
/examples/analysis_outputs/bbox_all_samples/20260823_120449_slide_4_superpixel.png
/examples/analysis_outputs/bbox_all_samples/20260823_120449_slide_5_grid.png
/examples/analysis_outputs/bbox_all_samples/20260823_120449_slide_5_superpixel.png
/examples/analysis_outputs/bbox_all_samples/20260823_120449_slide_6_grid.png
/examples/analysis_outputs/bbox_all_samples/20260823_120449_slide_6_superpixel.png
/examples/analysis_outputs/bbox_all_samples/20260823_120449_slide_7_grid.png
/examples/analysis_outputs/bbox_all_samples/20260823_120449_slide_7_superpixel.png
/examples/analysis_outputs/bbox_all_samples/20260823_120449_slide_8_grid.png
/examples/analysis_outputs/bbox_all_samples/20260823_120449_slide_8_superpixel.png
/examples/analysis_outputs/bbox_all_samples/20260823_120449_slide_9_grid.png
/examples/analysis_outputs/bbox_all_samples/20260823_120449_slide_9_superpixel.png
/examples/analysis_outputs/bbox_all_samples/20260823_120940_slide_0_grid.png
/examples/analysis_outputs/bbox_all_samples/20260823_120940_slide_0_superpixel.png
/examples/analysis_outputs/bbox_all_samples/20260823_120940_slide_1_grid.png
/examples/analysis_outputs/bbox_all_samples/20260823_120940_slide_1_superpixel.png
/examples/analysis_outputs/bbox_all_samples/20260823_120940_slide_2_grid.png
/examples/analysis_outputs/bbox_all_samples/20260823_120940_slide_2_superpixel.png
/examples/analysis_outputs/bbox_all_samples/20260823_120940_slide_3_grid.png
/examples/analysis_outputs/bbox_all_samples/20260823_120940_slide_3_superpixel.png
/examples/analysis_outputs/bbox_all_samples/20260823_120940_slide_4_grid.png
/examples/analysis_outputs/bbox_all_samples/20260823_120940_slide_4_superpixel.png
/examples/analysis_outputs/bbox_all_samples/20260823_120940_slide_5_grid.png
/examples/analysis_outputs/bbox_all_samples/20260823_120940_slide_5_superpixel.png
/examples/analysis_outputs/bbox_all_samples/20260823_120940_slide_6_grid.png
/examples/analysis_outputs/bbox_all_samples/20260823_120940_slide_6_superpixel.png
/examples/analysis_outputs/bbox_all_samples/20260823_120940_slide_7_grid.png
/examples/analysis_outputs/bbox_all_samples/20260823_120940_slide_7_superpixel.png
/examples/analysis_outputs/bbox_all_samples/20260823_120940_slide_8_grid.png
/examples/analysis_outputs/bbox_all_samples/20260823_120940_slide_8_superpixel.png
/examples/analysis_outputs/bbox_all_samples/20260823_120940_slide_9_grid.png
/examples/analysis_outputs/bbox_all_samples/20260823_120940_slide_9_superpixel.png
/examples/analysis_outputs/bbox_all_samples/20260823_140228_slide_0_grid.png
/examples/analysis_outputs/bbox_all_samples/20260823_140228_slide_0_superpixel.png
/examples/analysis_outputs/bbox_all_samples/20260823_140228_slide_1_grid.png
/examples/analysis_outputs/bbox_all_samples/20260823_140228_slide_1_superpixel.png
/examples/analysis_outputs/bbox_all_samples/20260823_140228_slide_2_grid.png
/examples/analysis_outputs/bbox_all_samples/20260823_140228_slide_2_superpixel.png
/examples/analysis_outputs/bbox_all_samples/20260823_140228_slide_3_grid.png
/examples/analysis_outputs/bbox_all_samples/20260823_140228_slide_3_superpixel.png
/examples/analysis_outputs/bbox_all_samples/20260823_140228_slide_4_grid.png
/examples/analysis_outputs/bbox_all_samples/20260823_140228_slide_4_superpixel.png
/examples/analysis_outputs/bbox_all_samples/20260823_140228_slide_5_grid.png
/examples/analysis_outputs/bbox_all_samples/20260823_140228_slide_5_superpixel.png
/examples/analysis_outputs/bbox_all_samples/20260823_140228_slide_6_grid.png
/examples/analysis_outputs/bbox_all_samples/20260823_140228_slide_6_superpixel.png
/examples/analysis_outputs/bbox_all_samples/20260823_140228_slide_7_grid.png
/examples/analysis_outputs/bbox_all_samples/20260823_140228_slide_7_superpixel.png
/examples/analysis_outputs/bbox_all_samples/20260823_140228_slide_8_grid.png
/examples/analysis_outputs/bbox_all_samples/20260823_140228_slide_8_superpixel.png
/examples/analysis_outputs/bbox_all_samples/20260823_140228_slide_9_grid.png
/examples/analysis_outputs/bbox_all_samples/20260823_140228_slide_9_superpixel.png
/examples/analysis_outputs/bbox_all_samples/20260823_183539_slide_6_grid.png
/examples/analysis_outputs/bbox_all_samples/20260823_183539_slide_6_superpixel.png
/datasets/chess/good/frame_00_delay-1s.gif
/datasets/chess/good/frame_01_delay-1s.gif
/datasets/chess/good/frame_02_delay-1s.gif
/datasets/chess/good/frame_03_delay-1s.gif
/datasets/chess/good/frame_04_delay-1s.gif
/datasets/chess/good/frame_05_delay-1s.gif
/datasets/chess/good/frame_06_delay-1s.gif
/datasets/chess/good/frame_07_delay-1s.gif
/datasets/chess/good/frame_08_delay-1s.gif
/datasets/chess/good/frame_09_delay-1s.gif
/datasets/chess/good/frame_10_delay-1s.gif
/datasets/chess/good/frame_11_delay-1s.gif
/datasets/chess/good/frame_12_delay-1s.gif
/datasets/chess/good/frame_13_delay-1s.gif
/datasets/chess/good/frame_14_delay-1s.gif
/datasets/chess/good/frame_15_delay-1s.gif
/datasets/chess/good/frame_16_delay-1s.gif
/datasets/chess/good/frame_17_delay-1s.gif
/datasets/chess/good/frame_18_delay-1s.gif
/datasets/chess/good/frame_19_delay-1s.gif
/datasets/chess/good/frame_20_delay-1s.gif
/datasets/chess/good/frame_21_delay-1s.gif
/datasets/chess/good/frame_22_delay-1s.gif
/datasets/chess/good/frame_23_delay-1s.gif
/datasets/chess/good/frame_24_delay-1s.gif
/datasets/chess/good/frame_25_delay-1s.gif
/datasets/chess/good/frame_26_delay-1s.gif
/datasets/chess/good/frame_27_delay-1s.gif
/datasets/chess/good/frame_28_delay-1s.gif
/datasets/chess/good/frame_29_delay-1s.gif
/datasets/chess/good/frame_30_delay-1s.gif
/datasets/chess/good/frame_31_delay-1s.gif
/datasets/chess/good/frame_32_delay-1s.gif
/datasets/chess/good/frame_33_delay-1s.gif
/datasets/chess/good/frame_34_delay-1s.gif
/datasets/chess/good/frame_35_delay-1s.gif
/datasets/chess/good/frame_36_delay-1s.gif
/datasets/chess/good/frame_37_delay-1s.gif
/datasets/chess/good/frame_38_delay-1s.gif
/datasets/chess/good/frame_39_delay-1s.gif
/datasets/chess/bad/frame_40_delay-1s.gif
/datasets/chess/bad/frame_41_delay-1s.gif
/datasets/chess/bad/frame_42_delay-1s.gif
/datasets/chess/bad/frame_43_delay-1s.gif
/datasets/chess/bad/frame_44_delay-1s.gif
/datasets/chess/bad/frame_45_delay-1s.gif
/datasets/chess/bad/frame_46_delay-1s.gif
/datasets/chess/bad/frame_47_delay-1s.gif
/datasets/chess/bad/frame_48_delay-1s.gif
/datasets/chess/bad/frame_49_delay-1s.gif
/datasets/chess/bad/frame_50_delay-1s.gif
/datasets/chess/bad/frame_51_delay-1s.gif
/datasets/chess/bad/frame_52_delay-1s.gif
/datasets/chess/bad/frame_53_delay-1s.gif
/datasets/chess/bad/frame_54_delay-1s.gif
/datasets/chess/bad/frame_55_delay-1s.gif
/datasets/chess/bad/frame_56_delay-1s.gif
/datasets/chess/bad/frame_57_delay-1s.gif
/datasets/chess/bad/frame_58_delay-1s.gif
/datasets/chess/bad/frame_59_delay-1s.gif
/datasets/chess/bad/frame_60_delay-1s.gif
/datasets/chess/bad/frame_61_delay-1s.gif
/datasets/chess/bad/frame_62_delay-1s.gif
/datasets/chess/bad/frame_63_delay-1s.gif
/datasets/chess/bad/frame_64_delay-3s.gif
/.coverage
/examples/.ipynb_checkpoints/analyzers_demo-checkpoint.ipynb
/src/tobii_pytracker.egg-info/dependency_links.txt
/src/tobii_pytracker.egg-info/entry_points.txt
/.idea/misc.xml
/.idea/modules.xml
/src/tobii_pytracker.egg-info/PKG-INFO
/.idea/inspectionProfiles/profiles_settings.xml
/src/tobii_pytracker.egg-info/requires.txt
/src/tobii_pytracker.egg-info/SOURCES.txt
/.idea/tobii-pytracker.iml
/src/tobii_pytracker.egg-info/top_level.txt
/.idea/vcs.xml
